<!DOCTYPE html>
<html>

<head>
    <title>组件</title>
    <script src="https://unpkg.com/vue@1.0.20/dist/vue.js"></script>
</head>

<body>
    <div class="app-1">
        <!--<my-strong></my-strong>-->
    </div>
    <!--<script>
        var MyComponent = Vue.extend({
            template: '<strong>测一下App-1</strong>'
        })
        Vue.component('my-strong', MyComponent)
        new Vue({
            el: '.app-1'
        })
    </script>-->
    <div class="app-2">
        <!--<my-parent>
            <my-child></my-child>
        </my-parent>-->
        <!--<my-child>啦啦啦</my-child>-->
    </div>
    <!--<script>
        var Child = Vue.extend({
            template: '<strong> World!</strong>'
        })
        var Parent = Vue.extend({
            template: '<h4>Hello <my-child></my-child></h4>',
            components: {
                'my-child': Child
            }
        })
        Vue.component('my-parent', Parent)
        new Vue({
            el: '.app-2'
        })
    </script>-->
    <div class="app-3">
        <my-parent></my-parent>
    </div>
    <script>
        var Parent = Vue.extend({
            template: '<strong>Welcome <my-child></my-child></strong> <my-childd></my-childd>',
            components: {
                'my-child': {
                    template: 'to <my-child2></my-child2>',
                    components: {
                        'my-child2': {
                            template: 'Vue.js'
                        }
                    }
                },
                'my-childd': {
                    template: '<strong>啦啦啦，哇哈哈~~</strong>'
                }
            }
        })
        Vue.component('my-parent', Parent)
        new Vue({
            el: '.app-3'
        })
    </script>
    <div class="app-4">
        <div>{{a}}</div>
    </div>
    <script>
        var data = Vue.extend({
            data: function () {
                return { a: '哇哈哈哈哈' }
            }
        })
        Vue.component('aa', data)
        var vue4 = new Vue({
            el: '.app-4'
        })
    </script>
    <div class="app-5">
        <child msg="Hello!"></child>
    </div>
    <script>
        Vue.component('child', {
            props: ['msg'],
            template: '<span>{{ msg }}</span>'
        })
        var vue4 = new Vue({
            el: '.app-5'
        })
    </script>
    <div class="app-6">
        <child my-message="World!"></child>
    </div>
    <script>
        Vue.component('child', {
            props: ['myMessage'],
            template: '<strong>{{myMessage}}</strong>'
        })
        var vue5 = new Vue({
            el: '.app-6'
        })
    </script>
    <div class="app-7">
        <input v-model="msg">
        <child :my-msg="msg"></child>
        <hr>
    </div>
    <script>
        Vue.component('child', {
            props: ['myMsg'],
            template: '<strong>{{myMsg}}</strong>'
        })
        var vue7 = new Vue({
            el: '.app-7',
            msg: ''
        })
    </script>
    <hr>
    <div class="app-8">
        <input v-model="parentMsg"><br>
        <!-- 默认为单向绑定 -->
        <child :msg="parentMsg"></child><br>
        <!-- 双向绑定 -->
        <child :msg.sync="parentMsg"></child><br>
        <!-- 单次绑定 -->
        <child :msg.once="parentMsg"></child>
    </div>
    <script>
        Vue.component('child', {
            props: ['msg'],
            template: '<strong>{{msg}}</strong>'
        })
        var vue8 = new Vue({
            el: '.app-8',
            data: {
                parentMsg: 'wahaha'
            }
        })
    </script>
</body>

</html>